<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {{style-sheet-links}}
        <link rel="icon" href="./images/icon.png">
        <title>Color Patterns</title>
    </head>
    <body>
        <div class="page">
            <h1>Coloury</h1>
            <p>Coloury is a color management and creation software, and you may sample colors from an image or set up color compositions from a color wheel. The generated color scheme can be shared or exported to designing or painting software you are familiar with（Such as Procreate or PhotoShop）. <mark class="selection">You may apply the colors to your artwork, such as poster design, digital painting, or rich text document writing.</mark></p>
            <p>Sampling colors from an image is <mark class="underline">one of the key features of Coloury. Coloury generates a color scheme from the region you specified in an image, containing the dominant colors in that area.</mark></p>
            <h2>Composing</h2>
            <p>You may compose colors from a color wheel in Coloury. Coloury supports several color composition modes from an Artist Color Wheel(similar to Itten's Pattern), such as Analogous, Monochromatic, Triad, etc.</p>
        </div>

        <div class="page">
            <h1>Coloury</h1>
            <p>Coloury is a color management and creation software, and you may sample colors from an image or set up color compositions from a color wheel. The generated color scheme can be shared or exported to designing or painting software you are familiar with（Such as Procreate or PhotoShop）. <mark class="selection">You may apply the colors to your artwork, such as poster design, digital painting, or rich text document writing.</mark></p>
            <p>Sampling colors from an image is <mark class="underline">one of the key features of Coloury. Coloury generates a color scheme from the region you specified in an image, containing the dominant colors in that area.</mark></p>
            <h2>Composing</h2>
            <p>You may compose colors from a color wheel in Coloury. Coloury supports several color composition modes from an Artist Color Wheel(similar to Itten's Pattern), such as Analogous, Monochromatic, Triad, etc.</p>
        </div>
    </body>
</html>
